<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home - Fashion-Mnist</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
  <link rel="stylesheet" th:href="@{/fonts/font-awesome.min.css}">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72">
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
  <div class="container"><a class="navbar-brand" th:href="@{/}">Fashion-Mnist</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1"></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" th:href="@{/}">Main page</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
        <li class="nav-item mx-0 mx-lg-1"></li>
      </ul>
    </div>
  </div>
</nav>
<header class="text-center text-white bg-primary masthead">
  <div class="container">
    <h1>Klasyfikacja</h1>
    <h2 class="font-weight-light mb-0">Wybierz zdjęcie</h2>
    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
      <br>
      <div class="form-group">
        <input type="file" name="image" class="form-control-file"><br><br>
      </div>
      <br>
      <input type="submit" value="Zatwierdź">
    </form>
  </div>
</header>
<section id="portfolio" class="portfolio"></section>
<section class="text-white bg-primary mb-0" id="about">
  <div class="container">
    <h2 class="text-uppercase text-center text-white">About</h2>
    <div class="row">
      <div class="col-lg-4 ms-auto">
        <p class="lead">Our application utilizes ensemble learning techniques, specifically bagging and stacking, to accurately classify clothing items from the Fashion-MNIST dataset. By combining multiple classifiers and their results, we achieve precise and reliable clothing recognition. Experience the power of ensemble learning in fashion classification with our innovative application.</p>
      </div>
      <div class="col-lg-4 me-auto">
        <p class="lead">Our application accepts color images as input, which are then automatically transformed into black and white and applied with a negative effect. This preprocessing step is specifically designed to align the input data with the training set, which consists of black and white images from the Fashion-MNIST dataset used to train our convolutional neural network models. By adapting the input images to match the training data, our application ensures optimal performance and accurate classification results. Experience the seamless integration of color image processing with our advanced application.</p>
      </div>
    </div>
    <div class="text-center mt-4"></div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <h2 class="text-uppercase text-center text-secondary mb-0">Contact uS</h2>
    <br><br>
    <h4 style="text-align: center">
      https://www.linkedin.com/in/tomasz-zapadlinski
    </h4>
    <h4 style="text-align: center;">
      https://www.linkedin.com/in/michał-zięba-258362245/
    </h4>
  </div>
</section>
<div class="text-center text-white copyright py-4"></div>
<div class="d-lg-none scroll-to-top position-fixed rounded"><a class="text-center d-block rounded text-white" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/freelancer.js}"></script>
</body>

</html>